*{
  margin: 0;
  padding: 0;
  font-size: medium;
  font-weight: normal;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styles */ 
#headerContainer > h1{
  font-size: larger;
  font-weight: bolder;
  color: rgba(2, 2, 19, 0.801);
}
#headerContainer > small{
  font-size: small;
  font-weight: normal;
  color: rgb(80, 1, 1);
  font-style: italic;
}
#headerContainer{
  margin: 20px;
  padding: 10px;
  box-shadow: 10px 5px rgba(20, 50, 50, 0.5);
  border-radius: 15px;
  background-color: lightgrey;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
#formContainer{
  margin: 20px;
  padding: 20px;
  box-shadow: 10px 5px rgba(20, 50, 50, 0.5);
  border-radius: 10px;
  background-color: lightgray;
  text-align: justify;
}

#formContainer > #studentForm > .input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

}

#formContainer > #studentForm > .input-field > label{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(77, 15, 15)

}

#formContainer > #studentForm > .input-field > input{
    margin: 5px 0;
    padding: 5px;
    box-shadow: 4px 2px slategrey;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

#formContainer > #studentForm :nth-last-child(1) > button {
    font-weight: bold;
    padding: 10px;
    background-color: rgb(36, 14, 14);
    border-radius: 5px;
    margin-top: 5px;
    color: azure;
    
}

#formContainer > #studentForm :nth-last-child(1) > button:hover {
    cursor: pointer;
    box-shadow: 5px 3px rgb(47, 43, 43);
    background-color: rgb(66, 63, 63);
}

#formContainer > #studentForm :nth-last-child(1) {
    justify-content: center;
    margin-top: 10px;
}

#listContainer > .list-item{
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 10px 5px rgba(20, 50, 50, 0.5); 
}

#listContainer > .list-item > h2{
    font-size: large;
    font-weight: bolder;
    margin-bottom: 3px;
    color: rgb(77, 15, 15)
}

#listContainer > .list-item > p{
    margin-bottom: 5px;
    color: rgb(23, 23, 23);
}

#listContainer > .list-item > button{
    background-color: rgb(36, 14, 14);
    border-radius: 5px;
    padding: 5px;
    color: azure;
}

#listContainer > .list-item > button:hover {
    cursor: pointer;
    box-shadow: 5px 3px rgb(47, 43, 43);
    background-color: rgb(66, 63, 63);
}

#listContainer{
    display: flex;
    grid-template-columns: repeat(12, 1fr);
}

@media (width <= 320px){
    #listContainer > .list-item{
        grid-column: span 12;
    }
}

@media (width > 1000px){
    #listContainer > .list-item{
        grid-column: span 2;
    }
}

@media (width > 320px) and (width < 1000px){
    #listContainer > .list-item{
        grid-column: span 4;
    }
}